@font-face { font-family: SF Pro; src: url('SF-Pro-Text-Regular.otf'); }

body {
    background-color: white;
}

.header {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    border-radius: 20px;
}

p {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    font-family: SF Pro, sans-serif;
    font-size: xx-large;
}

.cover {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    float: left;
}

/* For iPad */
@media screen and (min-width: 600px) {
    body {
        max-width: 600px;
        margin: auto;
    }

    p {
        font-size: medium;
    }
}